<html>
	<head>
		<title>SingUp | Marketplace</title>
	</head>
	<body>
		
			<form method="POST" action="../controller/singUpChack.php">
			<center>
				<fieldset style="height:80%;width:50%;border-width:10px;border-color:mediumseagreen;">
				<legend style="color:green; font-size:25;margin: 10%; text-align:left; " >SINGUP</legend>	
				<h2 style="color:mediumseagreen; font-family:Lucida Handwriting;">Welcome to the Marketplace</h2>
					<table align="center" width="80%" >
						<tr>
							<td style="color:green;font-size:20;"><b>Username</b></td>
							<td width="50%"><input type="name" name="name" value=" "></td>
						</tr>
						
						
						<tr>
							<td style="color:green;font-size:20;"><b>Password</b></td>
							<td><input type="password" name="password" value=""></td>
						</tr>
							<tr>
							<td style="color:green;font-size:20;"><b>ConPass</b></td>
							<td><input type="password" name="password" value=""></td>
						</tr>
						<tr>
							<td style="color:green;font-size:20;"><b>Email</b></td>
							<td><input type="email" name="email" value=""></td>
						</tr>

						<tr>
							<td colspan="2" style="color:green;"><fieldset>
							<legend>Gender</legend>
							<input type="radio" name="gender" value="Male">Male
							<input type="radio" name="gender"value="Female">Female
							<input type="radio" name="gender" value="Other">Other
				            </fieldset>
				            </td>

						</tr>

							<tr>
							<td colspan="2" style="color:green;"><fieldset>
							<legend>DateOfBirth</legend>
							<input type="date" name="dob">
							
				            </fieldset>
				            </td>

						</tr>
						
						<tr>
							<td colspan="2" align="right" height="50px">
								<input type="submit" name="submit" value="Submit" style="cursor: pointer;font-size:20;">
								<input type="reset" name="reset" value="Reset" style="cursor: pointer;font-size:20;">
							</td>
						</tr>
						
					
						<tr>
							<td colspan="2" align="center" height="40px" style="background:mediumseagreen;">
								<a href="login.php" style="color: white;font-size:25;width:40%;height:80%;">Login</a>
							</td>
						</tr>
					</table>
				</fieldset>
			</center>
		</form>
	</body>
</html>